{
  "all":            true,
  "lines":          100,
  "branches":       100,
  "functions":      100,
  "statements":     100,
  "cache":          true,
  "check-coverage": true,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "lib",
    "coverage",
    "test",
    "**/*.d.ts"
  ],
  "reporter": [
    "text",
    "html",
    "lcov"
  ]
}
